<p id="notice"><%= notice %></p>

<p>
  <strong>Stat time:</strong>
  <%= @statistic.stat_time %>
</p>

<p>
  <strong>Round ant:</strong>
  <%= @statistic.round_ant %>
</p>

<p>
  <strong>Round btc:</strong>
  <%= @statistic.round_btc %>
</p>

<p>
  <strong>Round trans:</strong>
  <%= @statistic.round_trans %>
</p>

<p>
  <strong>Round avg btc:</strong>
  <%= @statistic.round_avg_btc %>
</p>

<p>
  <strong>Round accounts:</strong>
  <%= @statistic.round_accounts %>
</p>

<p>
  <strong>Round rate:</strong>
  <%= @statistic.round_rate %>
</p>

<p>
  <strong>Total ant:</strong>
  <%= @statistic.total_ant %>
</p>

<p>
  <strong>Total btc:</strong>
  <%= @statistic.total_btc %>
</p>

<p>
  <strong>Total trans:</strong>
  <%= @statistic.total_trans %>
</p>

<p>
  <strong>Total avg btc:</strong>
  <%= @statistic.total_avg_btc %>
</p>

<p>
  <strong>Total accounts:</strong>
  <%= @statistic.total_accounts %>
</p>

<p>
  <strong>Total rate:</strong>
  <%= @statistic.total_rate %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
