<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Email</th>
      <th>Video Address</th>
      <th>Bitcoin Address</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.nickname %></td>
        <td><%= address.email %></td>
        <td><%= address.video %></td>
        <td><%= address.address %></td>
        <td><%= address.balance %></td>
        <td><%= link_to 'Show', address_path(address) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path(@address) %>
