<h1>Newest Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Video Address</th>
      <th>Bitcoin Address</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses_newest.each do |address| %>
      <tr>
        <td><%= address.nickname %></td>
        <td><embed src=<%= address.video %> allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></td>
        <td><%= address.address %></td>
        <td><%= address.balance %></td>
        <td><%= link_to 'Show', address_path(address) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Hottest Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Video Address</th>
      <th>Bitcoin Address</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="hottest">
    <input type="hidden" class="is_bottom" value=0></input>
    <% @addresses_hottest.each do |address| %>
      <tr>
        <td class="nickname"><%= address.nickname %></td>
        <td class="video"><embed src=<%= address.video %> allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></td>
        <td class="address"><%= address.address %></td>
        <td class="balance"><%= address.balance %></td>
        <td><%= link_to 'Show', address_path(address) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path(@address) %>

<% content_for :javascripts do %>
  <script>
    $(document).ready (function() {
      var timer;
      $(window).scroll (function() {
        if (timer) {
          window.clearTimeout (timer);
        }

        if ($(".is_bottom").val() == 0) {
          timer = window.setTimeout (function() {
            if ($(document).height() <= ($(window).height() + $(window).scrollTop())) {
              $.getJSON ('/addresses/getmore.json', { offset: $(".hottest tr").length }).done (function (data) {
                if (!data.length) {
                  $(".is_bottom").val(1);
                } else {
                  $.each (data, function (i, item) {
                    $(".hottest tr:first-child").clone().appendTo(".hottest")
                      .find(".nickname").html(item.nickname).end()
                      .find(".video").html("<embed src=" + item.video + " allowFullScreen=\"true\" quality=\"high\" width=\"700\" height=\"400\" align=\"middle\" allowScriptAccess=\"always\" type=\"application/x-shockwave-flash\"></embed>").end()
                      .find(".address").html(item.address).end()
                      .find(".balance").html(item.balance);
                  });
                }
              });
            }
          }, 1000);
        }
      });
    });
  </script>
<% end %>
