<body class="body index clearfix">
  <div id="all" class="all clearfix">
    <div id="header" class="header clearfix">
      <div id="banner" class="banner">
        <div class="totalbtc">
          <p>已募集比特币总额: <%= @total_amount.round(8) %>BTC</p>
        </div>
      </div>
      <div id="ad1" class="ad1 clearfix">
        <p id="addcontent" class="addcontent">小蚁社区比特币ALS#冰桶挑战# 活动公告</p>
      </div>
      <div id="about" class="about clearfix">
        <div id="aboutcontent" class="aboutcontent">
          <p>比特币遇上冰桶挑战</p>
          <p>你的偶像“冰桶”了吗？来吧，上传你喜欢的冰桶视频，让比特币社区为他的努力加油。你也可以贡献力量，发送比特币，为最赞的#冰桶挑战#者加油。这些比特币将集中后以中国比特币社区的名义捐献给ALS慈善组织。是时候Show出BTC社区的力量啦！</p>
          <p>参与方式：</p>
          <p>1.分享你喜欢的冰桶视频（优酷/土豆/搜狐/爱奇艺）的冰桶视频为慈善募币<br/>
          2.分享自己亲自参与的冰桶视频（优酷/土豆/搜狐/爱奇艺）为慈善募币<br/>
          3.为自己喜欢的视频发送比特币</p>
          <p>小蚁官网当然也会献出爱心，把我们的比特币投给最酷的挑战者--小蚁超人。</p>
        </div>
      </div>

      <div class="form">
        <%= form_for(@new_address) do |f| %>
          <div class="formfield">
            <%= f.label "视频名称" %><br/>
            <%= f.text_field :nickname, :placeholder => "起个酷炫的视频名称" %>
          </div>
          <div class="formfield">
            <%= f.label "邮箱地址" %><br/>
            <%= f.text_field :email, :placeholder => "留下你的邮箱地址" %>
          </div>
          <div class="formfield">
            <%= f.label "视频链接" %><br/>
            <%= f.text_field :video, :placeholder => "粘贴视频Flash地址" %>
          </div>
          <div id="ad2" class="ad2 clearfix">
            <%= f.submit "火速参加", :class => "button1" %>
          </div>
        <% end %>
      </div>

    </div>
    <div id="newvideotab" class="newvideotab clearfix">
      <div class="videotitleline clearfix">
        <p class="videotitle">最新上传</p>
      </div>
      <% @addresses_recent.each do |address| %>
        <div class="videodiv videodiv-1 clearfix">
          <div class="videodiv"><embed src=<%= address.video %> allowFullScreen="true" quality="high" width="382" height="243" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
          <div class="useritem clearfix">
            <p class="nicknameitem nicknameitem-1"><%= link_to address.nickname, address_path(address), :target => "_blank" %></p>
            <p class="bitcoinlabelitem bitcoinlabelitem-1">已捐金额：</p>
            <p class="bitcoinnumitem bitcoinnumitem-1"><%= address.balance %></p>
            <p class="btcadlabelitem btcadlabelitem-1">捐币地址:</p>
            <p class="websiteaddritem websiteaddritem-1"><%= link_to address.address, "Bitcoin:" + address.address %>
            <span><img class="qrcode" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="0" height="0" alt=""></img></span></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="hottest" class="hotvideotab clearfix">
      <div class="videotitleline clearfix">
        <p class="videotitle">热门视频</p>
      </div>
      <input type="hidden" id="is_bottom" value=0></input>
      <% @addresses_hottest.each do |address| %>
        <div class="videodiv videodiv-1 clearfix">
          <div class="videodiv videoitem"><embed src=<%= address.video %> allowFullScreen="true" quality="high" width="382" height="243" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
          <div class="useritem clearfix">
            <p class="nicknameitem nicknameitem-1"><%= link_to address.nickname, address_path(address), :target => "_blank" %></p>
            <p class="bitcoinlabelitem bitcoinlabelitem-1">已捐金额：</p>
            <p class="bitcoinnumitem bitcoinnumitem-1"><%= address.balance %></p>
            <p class="btcadlabelitem btcadlabelitem-1">捐币地址:</p>
            <p class="websiteaddritem websiteaddritem-1"><%= link_to address.address, "Bitcoin:" + address.address %>
            <span><img class="qrcode" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="0" height="0" alt=""></img></span></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>

<% content_for :javascripts do %>
  <script>
    $(document).ready (function() {
      var timer;
      $(window).scroll (function() {
        if (timer) {
          window.clearTimeout (timer);
        }

        if ($("#is_bottom").val() == 0) {
          timer = window.setTimeout (function() {
            if ($(document).height() <= ($(window).height() + $(window).scrollTop())) {
            $.getJSON ('/addresses/getmore.json', { offset: $("#hottest > div").length - 1 }).done (function (data) {
                if (!data.length) {
                  $("#is_bottom").val(1);
                } else {
                  $.each (data, function (i, item) {
                    $("#hottest > div:last-child").clone().appendTo("#hottest")
                      .find(".nicknameitem").html(item.nickname).end()
                      .find(".videoitem").html("<embed src=" + item.video + " allowFullScreen=\"true\" quality=\"high\" width=\"382\" height=\"243\" align=\"middle\" allowScriptAccess=\"always\" type=\"application/x-shockwave-flash\"></embed>").end()
                      .find(".websiteaddritem a").attr("href", item.url).html(item.address).end()
                      .find(".bitcoinnumitem").html(item.balance);
                  });
                }
              });
            }
          }, 1000);
        }
      });

      $(".websiteaddritem").mouseover (function() {
        $(this).find("span img").attr("src", "/qrcodes/" + $(this).find("a").attr("href") + ".png");
      });
    });
  </script>
<% end %>
