<body class="body index clearfix">
  <p id="notice"><%= notice %></p>
  <div id="oneall" class="oneall clearfix">
    <div id="header" class="header clearfix">
      <div id="banner" class="banner">
        <div class="totalbtc">
          <p>已募集比特币总额: <%= @total_amount.round(8) %>BTC</p>
        </div>
      </div>
      <div id="ad1" class="ad1 clearfix">
        <p id="addcontent" class="addcontent">小蚁社区比特币ALS#冰桶挑战# 活动公告</p>
      </div>
      <div id="about" class="about clearfix">
        <div id="aboutcontent" class="aboutcontent">
          <p>比特币遇上冰桶挑战</p>
          <p>你的偶像“冰桶”了吗？来吧，上传你喜欢的冰桶视频，让比特币社区为他的努力加油。你也可以贡献力量，发送比特币，为最赞的#冰桶挑战#者加油。这些比特币将集中后以中国比特币社区的名义捐献给ALS慈善组织。是时候Show出BTC社区的力量啦！</p>
          <p>参与方式：</p>
          <p>1. 分享自己亲自参与的冰桶视频（优酷/土豆/搜狐/爱奇艺）为慈善募币<br/>
          2. 为自己喜欢的视频发送比特币</p>
        </div>
      </div>

      <div class="form">
        <%= form_for(@new_address) do |f| %>
          <div class="formfield">
            <%= f.label "视频名称" %><br/>
            <%= f.text_field :nickname, :placeholder => "起个酷炫的视频名称" %>
          </div>
          <div class="formfield">
            <%= f.label "邮箱地址" %><br/>
            <%= f.text_field :email, :placeholder => "留下你的邮箱地址" %>
          </div>
          <div class="formfield">
            <%= f.label "视频链接" %><br/>
            <%= f.text_field :video, :placeholder => "粘贴视频Flash地址" %>
          </div>
          <div id="ad2" class="ad2 clearfix">
            <%= f.submit "火速参加", :class => "button1" %>
          </div>
        <% end %>
      </div>

    </div>
    <div id="onevideotab" class="onevideotab clearfix">
      <div class="onevideotitleline clearfix">
        <p class="onevideotitle"></p>
      </div>
      <div class="onevideodiv onevideodiv-1 clearfix">
        <div class="onevideodiv"><embed src=<%= @address.video %> allowFullScreen="true" quality="high" width="1170" height="668" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
        <div class="useritem clearfix">
          <p class="nicknameitem nicknameitem-1"><%= @address.nickname %></p>
          <p class="bitcoinlabelitem bitcoinlabelitem-1">已捐金额：</p>
          <p class="bitcoinnumitem bitcoinnumitem-1"><%= @address.balance %></p>
          <p class="btcadlabelitem btcadlabelitem-1">捐币地址:</p>
          <p class="websiteaddritem websiteaddritem-1"><%= link_to @address.address, "http://blockchain.info/address/" + @address.address %>
          <span><img class="qrcode" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="0" height="0" alt=""></img></span></p>
        </div>
      </div>
      <section id="footer" class="footer">
        <div class="separator80" ></div>
        <div class="footlogo">
          <a href="http://www.antshares.org"><img src="/assets/LOGO_footer.png" alt="AntShares"/></a>
        </div>
        <div class="separator80"></div>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <a href="http://weibo.com/AntShares"><i class="fa fa-weibo"></i></a>
        <i class="fa fa-weixin"></i>
        <i class="fa fa-qq"></i>
        <div class="separator80"></div>
        <p>AntShares.org All rights resevered.</p>
        <div class="separator80"></div>
      </section>
    </div>
  </div>

</body>
