<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @address.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Video Address:</strong>
  <%= @address.video.html_safe %>
</p>

<p>
  <strong>Bitcoin Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @address.balance %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path(@addresses) %>
