<!DOCTYPE html>
<html>
<head>
  <title>小蚁社区比特币ALS冰桶挑战</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= yield :javascripts %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
